* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-size: 3rem;
    width: fit-content;
    margin: 5rem auto;
    color: rgb(12, 123, 123);
    transition: color .3s ease-in-out;
    text-align: center;
}

h1:hover {
    cursor: pointer;
    color: rgb(15, 112, 199);
}

.main-img {
    width: auto;
    height: 50vh;
    display: block;
    margin: 2rem auto;
    transition: transform 2s ease-in-out;
}

.main-img:hover {
    transform: rotateZ(360deg);
}
